<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>Aergia</string>
    
    <key>uuid</key>
    <string>9462a0ec-54a3-4b22-a52b-70f16bdc463d</string>
    
    <key>description</key>
    <string>Syntax highlighting for the Aergia programming language.</string>
    
    <key>contactName</key>
    <string>Nayif Ehan</string>
</dict>
</plist>